<div class="wrapper">
    <div class="content">
        <!-- Your main content here -->
    </div>

    <footer>
        <div class="f-info">
            <div class="f-info-socials">
                <a href="https://www.facebook.com/"><i class="fa-brands fa-square-facebook"></i></a>
                <a href="https://www.instagram.com/"><i class="fa-brands fa-square-instagram"></i></a>
                <a href="https://in.linkedin.com/#:~:text=1%20billion%20members%20|%20Manage%20your%20professional%20identity.%20Build%20and"><i class="fa-brands fa-linkedin"></i></a>
            </div>

            <div class="f-info-brand"> &copy;IT SOLUTIONS PRIVATE LIMITED</div>

            <div class="f-info-links">
                <a href="/privacy">Privacy</a>
                &nbsp;
                <a href="/terms">Terms and Conditions</a>
            </div>
        </div>
    </footer>
</div>
